<section id="home">
  <div id="sequence-preloader">
    <div class="preloading">
      <img src="images/loader.gif" alt="" />
    </div>
  </div>
  <div id="slideshow">
    <ul style="width: 100%; height: 100%;" >
      <li class="current"></li>
      <li><img src="images/background.png" style="-webkit-transition: 0s 0s;width: 100%;margin-top: 5%" /></li>
    </ul>
  </div>
</section>

<section id="about" class="container dark">
  <div class="content">
    <div class="title icon-and"><h1>About Us<span> Learn more about us</span></h1>
      <!--<div class="description">-->
      <!--<p>We built beautiful, user friendly web designs and applications for clients. Impressive eh?</p>-->
      <!--</div>-->
    </div>

    <div class="full">

      <div class="image"><img src="images/office.jpg" alt="" /></div>
      <div class="divider"></div>

      <div class="column-half">
        <div class="subtitle">
          <h3>Story:</h3>
        </div>
        <p>ADNTech is a full service software design and development company providing web development solutions for companies or individuals interested in outsourcing their web design and website development needs.</p>
        <p>Based in India, established in 2011, we are pioneer in providing total offshore and local web based solutions We deliver high quality web solutions and website services through our motivated and qualified specialist teams which is focused on exceeding clients' expectations every time. We specialize in best-of-breed website design, web enabled applications, flash/multimedia developments and graphics design.</p>

      </div>

      <div class="column-half last">
        <div class="subtitle">
          <h3>Skills:</h3>
        </div>
        <ul id="skills">
          <li><span title="55"></span><p>Dexterity <strong></strong></p></li>

          <li><span title="100"></span><p>Inteligence <strong></strong></p></li>

          <li><span title="75"></span><p>Wisdom <strong></strong></p></li>

          <li><span title="80"></span><p>Charisma <strong></strong></p></li>

        </ul><!--END skills-->

      </div>
    </div>

  </div>
</section>

<section id="work" class="container light">
  <div class="content">
    <div class="title icon-preview">
      <h1>Our Work <span>We have done</span></h1>
      <div class="description"></div>
    </div>

    <article class="portfolio">
      <ul id="stage">
        <li data-tags="Photography">
          <div class="thumb">
            <a rel="lightbox" href="images/taigan_shop.png">
              <img src="images/taigan_shop.png" alt="fall" />
            </a>
          </div>
          <div class="info"><h3><a href = "http://www.taigan.com/" target = "_blank" style = "text-decoration: underline;">Taigan- Extraordinary Shop </a></h3><p>E-commerce Project- Ruby on Rails</p></div>
        </li>

        <li data-tags="Marketing, Photography"><div class="thumb"><a rel="lightbox" href="images/ishlist.png"><img src="images/ishlist.png" alt="car" /></a></div>
          <div class="info"><h3><a href = "http://www.ishlist.com/" target = "_blank" style = "text-decoration: underline;">Ishlist Radio</a></h3><p>Entertainment domain-Ruby on Rails</p></div>
        </li>

        <li data-tags="Illustration"><div class="thumb"><a rel="lightbox" href="images/maroozle.png"><img src="images/maroozle.png" alt="space" /></a></div>
          <div class="info"><h3><a href = "http://www.maroozle.com/" target = "_blank" style = "text-decoration: underline;">Maroozle</a></h3><p>Web Development-Ruby on Rails</p></div>
        </li>


        <li data-tags="Design"><div class="thumb"><a rel="lightbox" href="images/sementoja.png"><img src="images/sementoja.png" alt="box" /></a></div>
          <div class="info"><h3><a href = "http://www.semeantoja.com/" target = "_blank" style = "text-decoration: underline;">Sementoja</a></h3><p>Food Management-Ruby on Rails</p></div>
        </li>

        <li data-tags="Photography"><div class="thumb"><a rel="lightbox" href="images/craveit.png"><img src="images/craveit.png" alt="jelly" /></a></div>
          <div class="info"><h3><a href = "http://www.craveit.in/" target = "_blank" style = "text-decoration: underline;">Craveit</a></h3><p>Food Management-Ruby on Rails</p></div>
        </li>

        <li data-tags="Photography"><div class="thumb"><a rel="lightbox" href="images/Oxidation_Stress.png"><img src="images/Oxidation_Stress.png" alt="jelly" /></a></div>
          <div class="info"><h3><a href = "#" style = "text-decoration: underline;">Oxidation Stress</a></h3><p>E-Learning Project</p></div>
        </li>

        <li data-tags="Illustration"><div class="thumb"><a rel="lightbox" href="images/DMF.png"><img src="images/DMF.png" alt="girl" /></a></div>
          <div class="info"><h3><a href = "#" style = "text-decoration: underline;">DMF</a></h3><p>E-Learning Project</p></div>
        </li>

        <li data-tags="Illustration"><div class="thumb"><a rel="lightbox" href="images/GolfCenter.png"><img src="images/GolfCenter.png" alt="girl" /></a></div>
          <div class="info"><h3><a href = "http://www.golfnow.com/" target = "_blank" style = "text-decoration: underline;">Golf Center</a></h3><p>Web Development-Ruby on Rails</p></div>
        </li>


      </ul>
    </article>
  </div>
</section>

<section id="services" class="container dark">
  <div class="content">
    <div class="title icon-power">
      <h1>Services <span>What we offer</span></h1>
      <div class="description"></div></div>
    <div class="full">

      <div class="column-half">
        <p>As application development on Rails is always exciting and the turnaround time is very fast, we never fail to fascinate our clients with quick and quality deliverables. We have developed variety of business applications that range from simple social networking applications to complex file transcoding and streaming applications.</p>
        <p>Ruby on Rails development Services for varieties of business needs. Our cutting edge solutions on scalability and social media have made us thought leaders in this domain.</p>
      </div>

      <div class="column-half">
        <div class="image"><img src="images/services.png" alt="" /></div>
      </div>
    </div>
    <div class="full">

      <div class="column-one-forth">
        <ul class="list">
          <h3>Design</h3>
          <li>Website Design</li>
          <li>Graphic Design</li>
          <li>Logo and Banner Designs</li>
        </ul>
      </div>

      <div class="column-one-forth">
        <ul class="list">
          <h3>Development</h3>
          <li>E-Commerce Solutions</li>
          <li>CMS Development</li>
          <li>Software Development & Web Applications</li>
        </ul>
      </div>

      <!--<div class="column-one-forth last">-->
        <!--<ul class="list">-->
          <!--<h3>Other Services</h3>-->
          <!--<li>Seach Engine Optimization</li>-->
          <!--<li>Web Hosting</li>-->
          <!--<li>Domain Registration</li>-->
          <!--<li>Training</li>-->
        <!--</ul>-->
      <!--</div>-->

    </div>
  </div>
</section>

<section id="contact" class="container dark second">
  <div class="content">
    <div class="title icon-phone">
      <h1>Contact <span>Get in Touch</span></h1>
      <div class="description">
      </div></div>

    <div class="full">

      <div id="contact-form">
        <form id="contact-us" action = "sendmessage.php" method = "POST">


          <div class="column-half">
            <p style = "left: 50px;">
              Durgesh Tripathi<br>
              Email - <a href="mailto:durgesh.tripathi2@gmail.com" target="_blank" title='Contact Us'>durgesh.tripathi2@gmail.com</a><br/>
              Mobile - +91-9899915942
            </p>
            <p style = "left: 50px;">
              Amrendra Singh<br>
              Email - <a href="mailto:amrendra510@gmail.com" target="_blank" title='Contact Us'>amrendra510@gmail.com</a><br/>
              Mobile - +91-8800677928
            </p>
            <!--<div class="formblock">-->
              <!--<input type="text" name="username" id="contactName" value="" class="txt requiredField" placeholder="Name:" />-->
            <!--</div>-->

            <!--<div class="formblock">-->
              <!--<input type="text" name="emailid" id="email" value="" class="txt requiredField email" placeholder="Email:" />-->
            <!--</div>-->

            <!--<div class="formblock">-->
              <!--<input type="text" name="mobile" id="website" value="" class="txt website" placeholder="Mobile:" />-->
            <!--</div>-->

            <!--<div class="formblock">-->
              <!--<textarea name="message" id="commentsText" class="txtarea requiredField" placeholder="Message:"></textarea>-->
            <!--</div>-->

            <!--<button name="submit" type="submit" class="subbutton"></button>-->
            <!--<input type="hidden" name="submitted" id="submitted" value="true" />-->

          </div>

          <div class="column-half last">
            <p style = "left: 50px;">
              Ashish Sharma<br>
              Email - <a href="mailto:ashish198907@gmail.com" target="_blank" title='Contact Us'>ashish198907@gmail.com</a><br/>
              Mobile - +91-9050513165
            </p>
            <p style = "left: 50px;">
              Piyush Gupta<br>
              Email - <a href="mailto:piush.gupta88@gmail.com" target="_blank" title='Contact Us'>piush.gupta88@gmail.com</a><br/>
              Mobile - +91-9873133567
            </p>
          </div>

        </form>
      </div>
    </div>
  </div>
</section>

